:root{
    --mainBg: #1A0C12;
    --btnBg: rgba(243, 230, 0, 0.40);
    --btnBorder: 1px solid #F3E600;
    --yellowAccents: #F3E600;
    --blueAccents: #58DDE6;
    --smallFont: 18px;
    --normFont: 24px;
    --secTitle: 36px;
    --textBlack: black;
    --textWhite: white;
}

*{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

@font-face {
    font-family: 'light';
    src: url(Fonts/Rajdhani-Light.ttf);
}

@font-face {
    font-family: 'Reg';
    src: url(Fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: 'Med';
    src: url(Fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'semi';
    src: url(Fonts/Rajdhani-SemiBold.ttf);
}

@font-face {
    font-family: 'Bold';
    src: url(Fonts/Rajdhani-Bold.ttf);
}

@keyframes BtnFlash {
    0%{
        background: transparent;
        color: var(--yellowAccents);
    }

    33.9999999%{
        background: transparent;
        color: var(--yellowAccents);
    }

    33%{
        background-color: var(--yellowAccents);
        color: var(--textBlack);
    }

    66.999999%{
       background-color: var(--yellowAccents);
        color: var(--textBlack); 
    }

    66%{
        background: transparent;
        color: var(--yellowAccents);
    }

    99.9999999%{
        background: transparent;
        color: var(--yellowAccents);
    }

    100%{
        background-color: var(--yellowAccents);
        color: var(--textBlack);
    }
}

@keyframes heroFader {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes ScreenAnim {
    0%{
        width: 5px;
        height: 0;
    }

    45%{
        width: 5px;
        height: 712.28px;
    }

    50%{
      width: 5px;
      height: 712.28px;  
    }

    100%{
        width: 650px;
        height: 712.28px; 
    }
}

@keyframes TextFade {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    background: var(--mainBg);
    font-family: 'Reg';
    text-transform: capitalize;
}

body.loginBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 120px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    animation: heroFader 500ms linear 9s forwards;
    opacity: 0;
}

.headerBtns{
    display: flex;
    gap: 30px;
}

a, a:visited{
    text-decoration: none;
}

nav{
    display: flex;
    gap: 20px;
    background: var(--btnBg);
    border: var(--btnBorder);
}

nav a{
    color: var(--yellowAccents);
    font-size: var(--normFont);
    padding: 15px 50px;
    text-transform: capitalize;
    animation: none;
    transition: all;
    font-family: 'semi';
}

nav a:hover{
    animation: BtnFlash 200ms linear forwards running;
}

#hero{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
}

.heroVid{
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    position: absolute;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.heroBtn{
    color: var(--yellowAccents);
    font-size: var(--normFont);
    background: var(--btnBg);
    border: var(--btnBorder);
    position: relative;
    z-index: 5;
    padding: 15px 57px;
    margin-bottom: 143px;
    animation: none;
    transition: all;
    opacity: 1;
}

.loginBtn{
    color: var(--yellowAccents);
    font-size: var(--normFont);
    background: var(--btnBg);
    border: var(--btnBorder);
    position: relative;
    z-index: 5;
    padding: 15px 57px;
    animation: none;
    transition: all;
    opacity: 1;
}

.cartBtn{
    color: var(--yellowAccents);
    font-size: var(--normFont);
    background: var(--btnBg);
    border: var(--btnBorder);
    position: relative;
    z-index: 5;
    padding: 15px 57px;
    animation: none;
    transition: all;
    opacity: 1;
}

.heroBtn:hover, .loginBtn:hover, .cartBtn:hover, #signBtn:hover{
    animation: BtnFlash 200ms linear forwards running;
}

#info{
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secTitle{
    display: flex;
    gap: 10px;
}

.sTitleText{
    font-size: var(--secTitle);
    color: var(--blueAccents);
    font-weight: 800px;
    font-family: 'semi';
}

.infoContent{
    width: 100%;
    margin-top: 20px;
    display: flex;
    height: 591.675px;
    align-items: center;
}

.infoText{
    width: 45%;
}

.infoTags{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.tag{
    padding: 5px 40px;
    background: var(--btnBg);
    border: var(--btnBorder);
    color: var(--yellowAccents);
    font-size: var(--smallFont);
}

.infoP{
    font-family: 'semi';
    font-size: var(--normFont);
    color: var(--textWhite);
    margin-top: 60px;
}

#infoImg{
    background: url(Images/img1.jpg);
    mask: url(Images/cMask.svg) no-repeat center ;
    background-size: cover;
    width: 70%;
    height: 591.675px;
    position: absolute;
    right: 0;
}

#chars{
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 548px;
    column-gap: 40px;
    margin-top: 60px;
}

.charCard {
    grid-column: span 1;
    transition: all 0.3s ease;
    padding: 30px 30px 0 30px;
    overflow: hidden;
    background-color: var(--btnBg);
    border: var(--btnBorder);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
}

.charCard img{
    filter: brightness(0.5);
}

.charCard.big {
    grid-column: span 3;
    z-index: 10;
    background-color: var(--yellowAccents);
    transition: all 300ms ease;
}

.charCard.big p{
    font-size: var(--secTitle);
}

.charCard.big img{
    filter: brightness(1);
}

.cardImg{
    object-fit: cover;
}

.charName{
    font-family: 'semi';
    font-size: var(--normFont);
    text-align: center;
}

#watch{
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vidContainer{
    background: url(Images/VideoContainer.svg);
    width: 1395px;
    height: 890px;
    padding: 100px 20px 20px 20px;
    display: flex;
    box-sizing: border-box;
}

.videoFrame{
    width: 100%;
    height: initial;
    box-sizing: border-box;
}

footer{
    background: var(--yellowAccents);
    position: relative;
    padding: 31px 120px 100px 120px;
    display: flex;
    justify-content: space-between;
}

.footerTop{
    position: absolute;
    top: -30px;
    width: 100%;
    left: 0;
}

.logoDark{
    width: 400px;
}

.colTitle{
    font-family: 'bold';
    font-size: var(--secTitle);
    padding: 5px 0;
    border-bottom: 2px solid black;
}

.colContent{
    font-size: var(--normFont);
    display: flex;
    flex-direction: column;
    font-family: 'semi';
    gap: 10px;
}

.colContent a{
    color: var(--textBlack);
}

.infoContainer{
    background: url(Images/Biotracker.svg);
    width: 1395px;
    height: 890px;
    padding: 100px 40px 2px 40px;
    display: flex;
    box-sizing: border-box;
    align-items: end;
    margin: 50px auto;
    justify-content: space-between;
    position: relative;
}

.loginContainer{
    background: url(Images/loginBg.svg);
    width: 1395px;
    height: 715px;
    padding: 100px 40px 2px 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 50px auto;
    gap: 40px;
    position: relative;
}

#charImg{
    width: 39%;
    box-sizing: border-box;
}

.infoScreen{
    animation: ScreenAnim 1s ease-out 1s forwards;
    margin: auto 0;
    width: 5px;
    height: 0;
}

.charText{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 150px;
    right: 60px;
    width: 570px;
    opacity: 0;
    animation: TextFade 500ms linear 2s forwards;
}

.infoLine{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoTitle{
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px #AC3A38 solid;
    color: #AC3A38;
    font-size: var(--smallFont);
    font-family: 'semi';
}

.affs{
    list-style-type: square;
    list-style-position: inside;
}

#infoName, #infoAge, #aff1, #aff2, #aff3{
    color: var(--blueAccents);
    font-family: 'semi';
    font-size: var(--secTitle);
}

#InfoBio{
    color: var(--blueAccents);
    font-family: 'semi';
    font-size: var(--smallFont);
}

.inputLine{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputLabel{
    color: var(--blueAccents);
    font-size: var(--secTitle);
    font-family: 'semi';
}

#username, #password{
    width: 100%;
    background: transparent;
    border: 3px #58DDE6 solid;
    font-size: var(--normFont);
    margin-top: 8px;
    padding: 20px;
    color: var(--textWhite);
    font-family: 'semi';
    box-sizing: border-box;
}

#username:focus, #password:focus{
    outline: #AC3A38 3px solid;
}

#signBtn{
    color: var(--yellowAccents);
    font-size: var(--secTitle);
    background: var(--btnBg);
    border: var(--btnBorder);
    position: relative;
    z-index: 5;
    padding: 15px 57px;
    animation: none;
    transition: all;
    opacity: 1;
    font-family: 'semi';
    cursor: pointer;
    margin-top: 40px;
}

